@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.phone {
    width: 318px;
    min-height: 700px;
    background: #1c1c1c;
    color: white;
    padding: 55px 14px 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

button {
    border: none;
    cursor: pointer;
}

.cancelar {
    background: none;
    color: white;
    font-size: 16px;
}

.publicar {
    background: #25ff6a;
    color: black;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 20px;
}

.user-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 45px;
}

.user-row img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.user-row input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-size: 15px;
}

.user-row input::placeholder {
    color: #9c9c9c;
}

.user-row button {
    background: none;
    color: white;
    font-size: 15px;
}

.images {
    display: flex;
    gap: 12px;
    overflow: hidden;
    margin-bottom: 25px;
}

.image-box {
    position: relative;
    min-width: 178px;
    height: 178px;
    border-radius: 14px;
    overflow: hidden;
    background: #c58e95;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trash {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 19px;
}

hr {
    border: none;
    border-top: 2px solid #888;
    margin: 14px 0;
}

.tags {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 15px;
}

.tags button {
    background: #25ff6a;
    color: black;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 20px;
}

.settings {
    margin-top: 28px;
}

.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    font-size: 16px;
}

/* SWITCH */

.switch {
    position: relative;
    width: 78px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #666;
    border-radius: 30px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked + .slider {
    background-color: #25ff6a;
}

.switch input:checked + .slider::before {
    transform: translateX(50px);
}
